<!DOCTYPE html>
<html lang="en">

 <body>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      <!--div class="page-header"-->
      
        <h1>Merseyside's Biggest Skiing Facilty!!</h1><br>
        <p>The Oval Ski Club is based at the dry ski slope, located towards the rear of the Oval Sports Centre, Bebington, Wirral. For more information on locality of the skiing club please visit the Contact Us page. We offer skiing tuition for all ages, an active social club promoting various events through out the year, and also a Ski Racing Team which all members are welcome to join. We are ideally located for the Wirral, Cheshire, Liverpool and Merseyside areas..</p>
        <p><a class="btn btn-primary btn-large" href="">Learn more &raquo;</a></p>
        
      </div>


          
<div class="container">
   
  <div class="row-fluid">
      <div class="span5 ">
        <div class="well">
          <h2>Club closed for Summer</h2>
          <p>The 2011/2012 season has now finished. We will be busy over the summer months maintaining the slope so we are ready to open in September for next season. Check the diary for when we will be open and when we start new beginner lessons. See you then! </p>
          
        </div>
        </div> 
        </div>
      </div>
      </div>
    
      
        
      


