    <div class="container">
      <div class="well">
     <div class="leaderboard">     
        <h1>Login</h1>
          
        <p>Welcome back or Hello new vistors!!</p>

      </div>
    </div>
  </div>
    
   <div class="container">
  <div class="well">
  <label for="user"></label>
              <input class="span2" type="text" placeholder="UserName"name="user" id="user">
              <label for="pass"></label>
              <input class="span2" type="password" placeholder="Password"name="pass" id="pass"></input>
              <span id="confirmMessage" class="confirmMessage"></span>
            </div>
            <a href="#myModal" role="button" class="btn" data-toggle="modal">Sign in</a>
             
              

            </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Successfull Login </h3>
  </div>
  <div class="modal-body">
    <p>you are now logged in!!</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

