
<div class="container">
      <div class="well">
     <div class="leaderboard"> 
<h1>New annoucement</h1>
</div>
    </div>
  </div>
<%= render 'form' %>
<div class="container">
  <div class="well">
<%= link_to 'Back', annoucements_path %>
 </div>
  </div>